/* .banner {
	padding: 50px;
	background-image: url(http://localhost:3000/static/media/youngWoman.9caea653a1e7dd1bc73f.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.banner-img {
    text-align: right;
}
.banner {
	position: relative;
}
.banner-title {
	position: absolute;
	top: 50%;
	font-size: 60px;
	font-weight: bold;
	width: 60%;
	transform: translateY(-50%);
}
.sectionTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
}
.marginbottom{
    margin: 50px 0px;
}
.imgScale{
    scale: 1.2;
}